<div class=" row">
	<div class=" col-md-6 offset-3 alert-success text-center">
		<h2>Porudzbina zavrsena uspesno</h2>
		<p>Mozete proveriti sve vase proudzbine u sekciji porudzbine na vasem profilu</p>
		<hr></hr>
		<p>Hvala!</p>
	</div>
</div>
