<div class=" row">
	<div class=" col-md-6 offset-3 alert-success text-center">
		<h2>Porudzbina zavrsena uspesno!</h2>
		<p>Mozete proveriti sve vaše proudzbine u sekciji porudzbine na vašem profilu.</p>
		<hr></hr>
		<p>Hvala!</p>
	</div>
</div>
