<div class="row">
	<div class="col-md-6 offset-3"></div>
	<h1 class=" text-info">Dosli ste do kraja interneta</h1>
	<hr/>
	<a class=" btn btn-outline-success" asp-controller="Pice" asp-action="Index">Pocetna</a>
</div>
