@model Diskont

@{
    ViewData["Title"] = "Dodaj novi diskont";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p><h1>Dodaj novi diskont</h1></p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Slika preview -->
                    <div class="form-group text-center my-3">
                        <img id="LogoPreview" src="" class="border-info rounded-circle"
                             style="max-width: 150px; border:1px solid #ccc;" />
                    </div>

                    <!-- URL loga -->
                    <div class="form-group">
                        <label asp-for="LogoURL" class="control-label"></label>
                        <input asp-for="LogoURL" class="form-control" id="LogoURL" />
                        <span asp-validation-for="LogoURL" class="text-danger"></span>
                    </div>

                    <!-- Naziv -->
                    <div class="form-group">
                        <label asp-for="Naziv" class="control-label"></label>
                        <input asp-for="Naziv" class="form-control" />
                        <span asp-validation-for="Naziv" class="text-danger"></span>
                    </div>

                    <!-- Adresa -->
                    <div class="form-group">
                        <label asp-for="Adresa" class="control-label"></label>
                        <input asp-for="Adresa" class="form-control" />
                        <span asp-validation-for="Adresa" class="text-danger"></span>
                    </div>

                    <!-- Dugmad -->
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-outline-success float-right">Sačuvaj</button>
                        <a class="btn btn-outline-secondary" asp-action="Index">Prikaži sve</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // automatski prikaz slike ako već postoji link
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#LogoURL").val();
        });

        // prikaz slike u realnom vremenu
        $("#LogoURL").on("input", function () {
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        });
    </script>
}