@model Proizvodjac

@{
    ViewData["Title"] = "Dodaj novog proizvođača";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p><h1>Dodaj novog proizvođača</h1></p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- PREVIEW slike -->
                    <div class="form-group text-center my-3">
                        <img id="LogoPreview" src=""
                             class="border-info rounded-circle"
                             style="max-width:150px; border:1px solid #ccc;" />
                    </div>

                    <!-- URL logotipa -->
                    <div class="form-group">
                        <label asp-for="LogoURL" class="control-label"></label>
                        <input asp-for="LogoURL" class="form-control" id="LogoURL" />
                        <span asp-validation-for="LogoURL" class="text-danger"></span>
                    </div>

                    <!-- Ime -->
                    <div class="form-group">
                        <label asp-for="Ime" class="control-label"></label>
                        <input asp-for="Ime" class="form-control" />
                        <span asp-validation-for="Ime" class="text-danger"></span>
                    </div>

                    <!-- Opis -->
                    <div class="form-group">
                        <label asp-for="Opis" class="control-label"></label>
                        <input asp-for="Opis" class="form-control" />
                        <span asp-validation-for="Opis" class="text-danger"></span>
                    </div>

                    <!-- Dugmad -->
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-outline-success float-right">Dodaj</button>
                        <a class="btn btn-outline-secondary" asp-action="Index">Prikaži sve</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // automatski prikaži sliku ako već postoji URL
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#LogoURL").val();
        });

        // menjaj preview slike dok korisnik kuca URL
        $("#LogoURL").on("input", function () {
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        });
    </script>
}




